/main.py - Shortcut.lnk
/txt/input_bckp.txt
/txt/input.txt
/new_cards.txt
/new_cards_backup.txt
/txt/code_input.txt
/txt/new_cards.txt
/txt/new_cards_backup.txt
/txt/code_input backup.txt
/desktop.ini
